@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    /* background: linear-gradient(to right, #0A3557, #1E4461); */
    background-color: #252525;
    background-attachment: fixed;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #0000001c;
}

.left-header {
    display: flex;
    align-items: center;
}

.name {
    background: linear-gradient(to right, #2e6ea0, #7243d8, #5e00ca, #5E00A0, #7A00B2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    font-size: 42px;
    font-weight: bold;
}

.figure-logo, .logo {
    width: 185px;
    height: 185px;
}

.navbar {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    color: #71B9F0;
    font-weight: bold;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.navbar a{
    padding: 1.5rem 0;
    color: #71B9F0;
}

.navbar a:hover {
    transform: scale(0.90);
    text-decoration: underline;
}

.burguer-menu {
    width: 40px;
    height: 35px;
    display: none;
}

.menu-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75vw;
    height: 100vh;
    background-color: #1a1a1a;
    position: absolute;
    top: 0;
    left: -100vw;
    transition: all 0.4s;
}

.menu-area a {
    padding: 2rem 3.5rem;
    color: #71B9F0
}

.close-menu {
    color: #71B9F0;
    font-size: 24px;
    padding: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
}

/* Responsivo */

@media screen and (max-width: 970px) {
    .name {
        font-size: 32px;
    }

    .figure-logo, .logo {
        width: 125px;
        height: 125px;
    }

    .navbar {
        justify-content: flex-end;
    }
    
    .navbar a {
        display: none;
    }

    .burguer-menu {
        display: block;
    }

    .menu-area-active {
        left: 0;
        top: 0;
        transition: all 0.4s;
    }
}